* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

nav {
  height: 80px;
  width: 100%;
  background-color: #34495e;
}

.logo {
  font-size: 35px;
  font-weight: bold;
  color: white;
  padding: 0 100px;
  line-height: 80px;
}

nav ul {
  float: right;
  margin-right: 40px;
}

nav ul li {
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
}

nav ul li a {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
}

a.active,
a:hover {
  border: 1px solid white;
  transition: 0.5s;
}

nav #icon {
  color: white;
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}