* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

nav {
  height: 80px;
  width: 100%;
  background-color: #34495e;
}

.logo {
  font-size: 35px;
  font-weight: bold;
  color: white;
  padding: 0 100px;
  line-height: 80px;
}

nav ul {
  float: right;
  margin-right: 40px;
}

nav ul li {
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
}

nav ul li a {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
}

a.active,
a:hover {
  border: 1px solid white;
  transition: 0.5s;
}

nav #icon {
  color: white;
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

section {
  background-image: url(https://cdn.hipwallpaper.com/i/75/68/8BWvUj.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}

@media (max-width: 1048px) {
  .logo {
    font-size: 32px;
    padding-left: 60px;
  }

  nav ul {
    margin-right: 20px;
  }

  nav ul li a {
    font-size: 17px;
  }
}

@media (max-width: 900px) {
  nav #icon {
    display: block;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2f3640;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav a {
    font-size: 20px;
  }

  a.active, 
  a:hover {
    border: none;
    color: #3498db;
  }

  nav ul.show {
    left: 0;
  }
}
